<div class="container mt-5">
    <p class="h4">
      Smart Ranking is a web application in which you can organize your club's players by creating, searching, editing and even deleting.
      You can also add your favorite players to a favorite list with only one click.
    </p>
    <div class="row mt-5">
        <div class="col-6 d-flex justify-content-center">
            <img src="../../../assets/basketball-player.png" alt="Basketball Player" width="100" height="100">
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img src="../../../assets/football-player.png" alt="Footbal player" width="100" height="100">
        </div>
    </div>
</div>