<div class="container ranking-container mt-5">
  <h1 class="text-center">Smart Ranking</h1>  
  <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <div class="row mt-5">
      <div class="col-12 col-md-4 mb-2">
        <div class="form-group">
          <label for="name">Name *</label>
          <input required type="text" class="form-control" name="name" formControlName="name">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="email">Email *</label>
          <input required type="email" class="form-control" name="email" formControlName="email">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="mobilePhone">Mobile Phone</label>
          <input type="text" class="form-control" name="mobilePhone" formControlName="mobilePhone" mask="(00) 00000-0000">
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-md-2">
        <div class="form-group">
          <label for="ranking">Ranking *</label>
          <input required type="text" class="form-control" name="ranking" formControlName="ranking" rankingDirective>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="form-group">
          <label for="sport">Sport *</label>
          <select
            required
            class="form-control"
            id="sport"
            name="sport"
            formControlName="sport"
          >
            <option value="" disabled selected>Select a sport</option>
            <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="form-group">
          <label for="team">Team</label>
          <input type="text" class="form-control" name="team" formControlName="team">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-end">
        <button type="text" class="btn btn-light" (click)="playerForm.reset()">Clear</button>
        <button type="submit" class="btn btn-success btn-create-player" [disabled]="!playerForm.valid">Create player</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="d-flex justify-content-between align-items-center">
        <input
          type="text"
          class="form-control mr-3 mb-2"
          placeholder="Search for a player"
          (change)="filterRanking()"
        >
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile Phone</th>
          <th scope="col">Ranking</th>
          <th scope="col">Sport</th>
          <th scope="col">Team</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <th scope="row">{{ player._id }}</th>
          <td>{{ player.name }}</td>
          <td>{{ player.email }}</td>
          <td>{{ player.mobilePhone }}</td>
          <td>{{ player.ranking }}</td>
          <td>{{ player.sport.name }}</td>
          <td>{{ player.team }}</td>
          <td (click)="toggleFavorite()">
            <div class="d-flex">
              <ng-container *ngIf="isFavorite; else favorite">
                <i class="bi bi-heart"></i>
              </ng-container>
              <ng-template #favorite>
                <i class="bi bi-heart-fill sr-icon"></i>
              </ng-template>
              <i class="bi bi-trash sr-icon"></i>
            </div>
          </td> 
        </tr>
      </tbody>
    </table>
  </div>

</div>