<div class="container">
<h1 class="text-center mt-5 mb-3">Your favorite players</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Mobile Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Ranking</th>
          <th scope="col">Ranking Position</th>
          <th scope="col">URL Picture</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>555555</td>
          <td>teste@yahoo.com</td>
          <td>Name</td>
          <td>5</td>
          <td>13</td>
          <td>https://example.com/john.jpg</td>
          <td (click)="toggleFavorite()">
            <ng-container *ngIf="isFavorite; else favorite">
              <i class="bi bi-heart"></i>
            </ng-container>
            <ng-template #favorite>
              <i class="bi bi-heart-fill"></i>
            </ng-template>
          </td> 
        </tr>
      </tbody>
    </table>  
  </div>
</div>