<div class="container mt-5">
    <h2 class="text-center">Your favorite players</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Mobile Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Ranking</th>
          <th scope="col">Ranking Position</th>
          <th scope="col">URL Picture</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>555555</td>
          <td>teste@yahoo.com</td>
          <td>Name</td>
          <td>5</td>
          <td>13</td>
          <td><img src="https://images.unsplash.com/photo-1574623452334-1e0ac2b3ccb4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Basketball" width="50" height="50"></td>
        </tr>
      </tbody>
    </table>
  </div>
  